body {
    font-family: Arial;
    margin: 10px;
    padding: 0;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    color: whitesmoke;
}

.container {
    width: 100%;
    max-width: 800px; /* Set the maximum width for the container */
}

.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    max-width: 1200px; /* Set the maximum width for the row */
    margin-bottom: 20px; /*Added margin to separate rows */
}

.widget {
    width: 100px;
    background-color: #FF8000;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: top;
    padding: 10px;
    box-sizing: border-box;
    min-height: 100px; /* Minimum height for the widget*/
}

.widget h2 {
    margin-top: 0;
    font-size: 14px;/* Initial font size */
    flex-grow: 10;/* Allow content to grow within the widget*/
    overflow: hidden;
    text-overflow: ellipsis;
}

.widget a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.widget .assignment-count {
    position: unset;
    background-color: #a50606;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 5px 5px;
    font-size: 16px;
    margin-left: 50px;
}

.widget:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}